

.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    flex-direction: row;
    align-items: center;
    align-content: center;
    color: #ECD931;
    font-family: 'Poppins', sans-serif;  
    justify-content: space-around;
}

.tema, .login{
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.navbar i{
    font-size: 23px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

 .navbar h1{
    margin-left: 1%;
 }

.menu a{
    text-decoration: none;
    color: #ECD931;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    transition: .3s;
}

.menu3 a{
    text-decoration: none;
    color: #ECD931;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 5%;
    transition: .2s;
}

.menu3 a:hover{
    background-color: #373737;
    border-left: 1px solid #ECD931;
}

.menu2 h1{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.menu a:hover, .navbar i:hover{
    border-bottom: 1px solid #ECD931;
}

.menu{
    margin-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.navesq{
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.tracos{
    display: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-right: 20px;
}

.tracos span{   
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #ECD931;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
  outline: none;}

.tracos:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: #707070;
}

.tracos.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.tracos.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.tracos.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.tracos.is-active:hover span{
    background-color: #707070;
}

.menu3{
    position: fixed;
    left:0;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    height: 100vh;
    color: #ECD931;
    font-family: 'Poppins', sans-serif;  
    width: 300px;
    animation: fadeInLeft .3s;
}

.menu2{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0,0, 0.4);
    overflow: auto;
    z-index: 1;
    position: fixed;
    
}



@media screen and (max-width: 860px) {
    .tracos{
        display: block;
    }
    .menu{
        display: none;
    }
    .navbar i{
        display: none;
    }
}