@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #373737;
}

.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #272727;
    flex-direction: row;
    align-items: center;
    align-content: center;
    color: #ECD931;
    font-family: 'Poppins', sans-serif;  
    justify-content: space-around;
}

.tema, .login{
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.navbar i{
    font-size: 23px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

 .navbar h1{
    margin-left: 1%;
 }

.menu a{
    text-decoration: none;
    color: #ECD931;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    
}

.menu a:hover, .navbar i:hover{
    border-bottom: 1px solid #ECD931;;
}

.menu{
    margin-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.navesq{
    width: 80%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}


@media screen and (max-width: 860px) {
    
}