.divslider{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
}

.sliderg{
    width: 80%;
    border-radius: 30px;
    background-color: #707070;
    height: 500px;
}

.visor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.sliderp{
    width: 20%;
    border-radius: 20px;
    background-color: #707070;
    height: 140px;
}

.divslider h2{
    color: #ECD931;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 35px;
    cursor: pointer;
}

.divslider h2:hover + .barra{
    animation: linha .5s forwards;
}

.barra{
    margin-top: -20px;
    width: 00%;
    border-bottom: 1px solid #ECD931;
    
}

.titulosli{
    width: 25%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

@keyframes linha{
    0%{ width: 0;}
    100%{width: 100%;}
    }
